.songs {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}
.main-songs {
    margin-left: 50px;
    margin-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    height: 1500px;
}
.main-song {
    border: 1px solid #FFFFFF;
    height: 300px;
    width: 700px;
}
.main-song:hover {
    border: 1px solid #FFFFFF;
    height: 300px;
    width: 700px;
     background-color: #7a7a7a;
}
.main-song span {
    visibility: hidden;
}
.main-song:hover span {
    visibility: visible;
    height: 10px;
    width: 10px;
    padding-left: 300px;
}
.link {
    border: 0px;
}
.song {
    border: 1px solid #FFFFFF;
    height: 80px;

}
.song:hover {
    background-color: #7a7a7a;
    color: #FFFFFF;
}
#head {
    background-color: #663399;
    height: 50px;
}
.search {
    background-color: #f6f6f6;
    border-radius: 10px 10px 10px 10px;
    width: 500px;
    padding-right: 10px;
}

}
p {
    line-height: 0.6;
}
.track {
    padding-top: 7px;
}
.main-track {
    padding-top: 7px;

}
a {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover {
    color: #FFFFFF;
}
.Play span {
  visibility: hidden;

}
.Play:hover span {
    visibility: visible;
    height: 10px;
    width: 10px;
    padding-left: 100px;
}
.Play1 span {
  visibility: hidden;

}
#logout {
    display: none;
    margin-left: 10px;
}
#contacts {
    display: none;
    margin-left: 10px;
    margin-right: 10px;
}
.Play1:hover span {
    visibility: visible;

}
 footer {
    padding-top: 500px;
    clear: both;
    }
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
#block1 {
    float: left;
    margin-top: 24px;
}
#block2 {
    float: right;
    margin-right: 300px;
}
#block3 {
    float: left;
    margin-top: 24px;

}
#block4 {
    float: right;
    margin-right: 300px;
    margin-top: 24px;
}
#block5 {
    float: left;
    margin-top: 24px;
}
#block6 {
    float: right;
    margin-right: 300px;
    margin-top: 24px;
}
#block7 {
    float: left;
    margin-top: 24px;
}